body {
  font-family: "Roboto", sans-serif;
  color:#434455
  background-color: #FFF
}

ul{list-style-type: none;}

a{
  text-decoration: none;}

.header {
}
.header-navigation {
}
.header-logo {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo-img {
  color: #4d5ae5;
}
.header-menu-item {
}
.header-menu-list {
}
.header-menu-link {
 color: #2E2F42
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* main */
.address {
}
.address-menu {
}
.address-menu-item {
}
.address-menu-list
{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
} 

/*  Solutions */

.Solutions {
width: 1440px;
height: 600px;
  background:#2E2F42;
}
.Solutions-title {
  color: #FFF;
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
}
.Solutions-btn{
  background-color: #4D5AE5;
color:#FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
}
.Solutions-btn:hover,.Solutions-btn:focus{
  color:#FFF;
  background-color: #404BBF;
}

/* advantages */
.advantages {
}
.examples-title {
}
.advantages-menu {
}
.advantages-menu-list {
}
.advantages-menu-item {
  color: #2E2F42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.advantages-menu-descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* team */
.team {
}

.team-title {
  color:#2E2F42 ;
 text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-list {
}
.team-item {
}

.team-subtitle {
  color: #2E2F42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-image {
  width: 264px;
  height: 260px;
}


/* Portfolio */
.Portfolio {
}
.Portfolio-title {
  color: #2E2F42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.Portfolio-menu {
}
.Portfolio-list {
}

.portfolio-sudtitle {
  color: #2E2F42;
  font-size: 20px;
font-weight: 500;
line-height: 1.20 /
letter-spacing: 0.02em;
}

.portfolio-desc {
  font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

.portfoli-image {
  width: 360px;
  height: 300px;
}

/* footer */
.footer {
  width: 1440px;
height: 312px;
background-color:#2E2F42;
}

.footer-logo {

  color:#F4F4FD;
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.16; /* 116.667% */
letter-spacing: 0.02em;
text-transform: uppercase;
}

.footer-logo-item{
  color: #4D5AE5;
}

.footer-desc {
  color: #F4F4FD;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
